<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Gestion de Stock</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Accueil</a>
    <a href="/profile">Suivi Personnel</a>
    <a href="/auth/logout">Déconnexion</a>
  </nav>