<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Page Utilisateur</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Bienvenue Utilisateur</h1>
  <p><%= message %></p>
  <a href="/logout">Déconnexion</a>
</body>
</html>